body {
    margin: 0px;
    padding: 0px;
}
/*info menu with toogle function*/
.infobtn {                
    position:fixed;
    top:240px;
    left: 7px;
    background: #fff;
    color: #000;
    padding: 0px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    cursor: ne-resize;
    z-index: 1;
    padding: 4px 4px 2px 4px;
    outline: solid 3px #000;
}

/* Dropdown button on hover & focus */
.infobtn:hover {
    letter-spacing: 5pt;
}

/* The container <div> - needed to position the dropdown content */
.info {
    top: 230px;
    position: absolute;
    display: inline-block;
}

/* info Content (Hidden by Default) */
.info-content {
    top: 270px;
    left: 33%;
    display: none;
    position: relative;
    color: #000;
    background: #ffffff;
    font-family: Helvetica;
    font-weight: bolder;                
    cursor: ne-resize;
    /*min-width: 160px;*/
    width: 400px;
    height: auto;
    z-index: 1;                
    outline: solid 3px #000;
}

/* Links inside the info */
.info-content d {
    color: #000;
    background: #fff;
    padding: 12px 16px;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    display: block;
}

/* Change color of info links on hover */
.info-content d:hover {
    color: #f00;
    /*letter-spacing:5px;*/
}
.info-content g:hover {
    color: #0f0;
    /*letter-spacing:5px;*/
}
.info-content b:hover {
    color: #00f;
    /*letter-spacing:5px;*/
}
.info-content m:hover {
    color: #f0f;
    /*letter-spacing:5px;*/
}
.info-content c:hover {
    color: #0ff;
    /*letter-spacing:5px;*/
}
.info-content y:hover {
    color: #ff0;
    background-color: #000;
    /*letter-spacing:5px;*/
}
.info-content w:hover {
    color: #fff;
    background-color: #00f;
    /*letter-spacing:5px;*/
}

/* Show the info menu (use JS to add this class to the .info-content container when the user clicks on the info button) */
.reveal {display:block;}
/*class kernel*/
.kernels{
    position:relative;
    width: max-content;
    /* top: 195px; */
    left: 5px;
    background: #fff;
    color: #000;
    padding: 0px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    cursor: ne-resize;
    z-index: 1;
}

/*styling the select element*/
select {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 3px;
}
select:hover{
    color: #000;
    background-color: #fff;
}
select:not([multiple]){
    -webkit-appearance:none;
    -moz-appearance:none;
    border: solid 3px #000; 
}
/*styling the single entries of the list*/
option{
    border: solid 1px #000;
    font-size: 15px;
    padding-top: 3px;
}
option:hover{
    letter-spacing: 5px;
}
.portfolio{
    display: none;
    position: fixed;
    top: 95%;
    left: 5px;
    z-index: 1;
}
.portfolio a{
    background: #fff;
    color: #000;
    padding: 0px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    cursor: ne-resize;
    padding: 4px 4px 2px 4px;
    outline: solid 3px #000;
}
.portfolio a:hover{
    letter-spacing: 5px;
}
/*styling input*/
.ditinput{
    position: relative;
    /* top: 290px; */
    z-index: 1;
}

input{
    /* position: relative; */
    border: solid 3px #000;
    margin: 3px;
    height: 20px;
    background-color: #fff;
}
.ditinput input{
    width: 20px;
}
/*styling buttons*/
button{
    font-family: helvetica;
    font-size: 15px;
    font-weight: bolder;
    background-color: #fff;
    border: solid 3px #000;
    padding-top: 3px;
}
.sliders input{
    position: relative;
    width: 150px;
    margin-left: 20px;
    /* top: 40px; */
    z-index: 1;
}
.buttons{
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1;
}