:root {
    --menu_w: calc(200px + 4rem);
    --global-color: #ffffff;
    --global-color-alpha4: #ffffffcc;
    --global-color-alpha0: #ffffff00;
  }
body {
    margin: 0px;
    padding: 0px;
}
/*info menu with toogle function*/
.infobtn {                
    position:fixed;
    top:240px;
    left: 7px;
    background: #fff;
    color: #000;
    padding: 0px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    cursor: ne-resize;
    z-index: 1;
    padding: 4px 4px 2px 4px;
    outline: solid 3px #000;
}

/* Dropdown button on hover & focus */
.infobtn:hover {
    letter-spacing: 5pt;
}

/* The container <div> - needed to position the dropdown content */
.info {
    top: 230px;
    position: absolute;
    display: inline-block;
}

/* info Content (Hidden by Default) */
.info-content {
    top: 270px;
    left: 33%;
    display: none;
    position: relative;
    color: #000;
    background: #ffffff;
    font-family: Helvetica;
    font-weight: bolder;                
    cursor: ne-resize;
    /*min-width: 160px;*/
    width: 400px;
    height: auto;
    z-index: 1;                
    outline: solid 3px #000;
}

/* Links inside the info */
.info-content d {
    color: #000;
    background: #fff;
    padding: 12px 16px;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    display: block;
}

/* Change color of info links on hover */
.info-content d:hover {
    color: #f00;
    /*letter-spacing:5px;*/
}
.info-content g:hover {
    color: #0f0;
    /*letter-spacing:5px;*/
}
.info-content b:hover {
    color: #00f;
    /*letter-spacing:5px;*/
}
.info-content m:hover {
    color: #f0f;
    /*letter-spacing:5px;*/
}
.info-content c:hover {
    color: #0ff;
    /*letter-spacing:5px;*/
}
.info-content y:hover {
    color: #ff0;
    background-color: #000;
    /*letter-spacing:5px;*/
}
.info-content w:hover {
    color: #fff;
    background-color: #00f;
    /*letter-spacing:5px;*/
}

.pull {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: var(--menu_w);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    height: 100px;
    width: 20px;
    /* background-color: var(--global-color-alpha4); */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transition: left 0.5s ease-in-out; */
    mix-blend-mode: difference;
  }

  .side-menu {
    z-index: 999999999999;
    position: fixed;
    top: 0px;
    /* height: 500px; */
    height: calc(100vh - 90px);
    /* height: 100svh; */
    width: var(--menu_w);
    padding-top: 96px;
    margin: 0;
    background-color: var(--global-color-alpha4);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    mix-blend-mode: difference;
  }

/* Show the info menu (use JS to add this class to the .info-content container when the user clicks on the info button) */
.reveal {display:block;}
/*class kernel*/
.kernels{
    position:relative;
    width: max-content;
    /* top: 195px; */
    left: 5px;
    /* background: #fff; */
    color: #000;
    padding: 0px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    cursor: ne-resize;
    z-index: 1;
}

/*styling the select element*/
select {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 3px;
}
select:hover{
    color: #000;
    background-color: #fff;
}
select:not([multiple]){
    -webkit-appearance:none;
    -moz-appearance:none;
    border: solid 3px #000; 
}
/*styling the single entries of the list*/
option{
    border: solid 1px #000;
    font-size: 15px;
    padding-top: 3px;
}
option:hover{
    letter-spacing: 5px;
}
.portfolio{
    display: none;
    position: fixed;
    top: 95%;
    left: 5px;
    z-index: 1;
}
.portfolio a{
    background: #fff;
    color: #000;
    padding: 0px;
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    cursor: ne-resize;
    padding: 4px 4px 2px 4px;
    outline: solid 3px #000;
}
.portfolio a:hover{
    letter-spacing: 5px;
}
/*styling input*/
.ditinput{
    position: relative;
    /* top: 290px; */
    z-index: 1;
}

input{
    /* position: relative; */
    border: solid 3px #000;
    margin: 3px;
    height: 20px;
    background-color: #fff;
}

input [type=text]{
    mix-blend-mode: unset;

}

.ditinput input{
    width: 40px;
    height: 40px;
    font-size: 30px;
}
/*styling buttons*/
button{
    font-family: helvetica;
    font-size: 15px;
    font-weight: bolder;
    background-color: #fff;
    border: solid 3px #000;
    padding-top: 3px;
}
.sliders input{
    position: relative;
    width: 150px;
    margin-left: 20px;
    /* top: 40px; */
    z-index: 1;
}
.buttons{
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 1;
}